<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="klevu_frontendJs_invalidateCustomerDataOnLogin"
                  instance="Klevu\FrontendJs\Observer\InvalidateCustomerDataObserver"/>
    </event>

    <event name="customer_logout">
        <observer name="klevu_frontendJs_invalidateCustomerDataOnLogout"
                  instance="Klevu\FrontendJs\Observer\InvalidateCustomerDataObserver"/>
    </event>
</config>
